@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #24252A;
}
.logo {
  color: #88dcf5;
  letter-spacing: 15px;
  font-size: 15px;
}
.logo-end {
  color: #000000;
  letter-spacing: 15px;
  font-size: 15px;
}
html {
  font-family: "Montserrat";
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 25px 50px;
  z-index: 10000;
}

header.sticky {
  padding: 10px 40px;
  background-color: #24252A;
}
header .logo {
  position: relative;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.nav__links a {
  color: #fff;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/fondo1.jpg);
  background-size: cover;
}

.button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 369, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.button:hover {
  background-color: rgba(0, 136, 369, 0.5);
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
@media (max-width: 600px){
  header{
          float: none;
          display: block;
          text-align: center;
  }
  ul{
    padding: 10px 0;
  }
}

.container{
  width: 90%;
  height: 100%;
  margin: 50px;
  color: #24252A;
  justify-content: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 30px;
}
.card {
  width: 30%;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 30px;
}
.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(150deg, rgba(8,4,73,1) 0%, rgba(121,125,232,1) 100%);
  color: #fff;
  border-radius: 30px 30px 0 0;
}
.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}
.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}
.card:hover {
  transform: scale(1.05);
}

@media screen and (max-width:1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width:620px) {
  .container {
    width: 100%;
  }
  .heading {
    padding: 20px;
    font-size: 30px;
  }
  .card {
    width: 80%;
  }
}

.btn-grad {background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border-radius: 15px;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
.container{
  width: 90%;
  height: 100%;
  margin: 50px;
  color: #24252A;
  justify-content: center;
  align-items: center;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: #fff;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 30px;
}
.card {
  width: 30%;
  margin-bottom: 50px;
  transition: 0.3s;
  border-radius: 30px;
}
.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(150deg, rgba(8,4,73,1) 0%, rgba(121,125,232,1) 100%);
  color: #fff;
  border-radius: 30px 30px 0 0;
}
.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}
.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}
.card:hover {
  transform: scale(1.05);
}

@media screen and (max-width:1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width:620px) {
  .container {
    width: 80%;
  }
  .heading {
    padding: 20px;
    font-size: 30px;
  }
  .card {
    width: 80%;
  }
}

.btn-grad {background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border-radius: 15px;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 .section-html {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-info {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  text-align: center;
}
.container-info:hover {
  transform: scale(1.05);
}
.container-left {
  width: 50%;
  height: 600px;
  background-image: url(../images/fondo1.jpg) ;
  border-radius: 8px;
}
.container-right {
  width: 50%;
  min-height: 460px;
  box-shadow: 0px 0px 50px 20px #212121;
  background-color: #2f3c3d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff;
  margin-left: -150px;
}

.container-right-contra {
  width: 50%;
  min-height: 460px;
  box-shadow: 0px 0px 50px 20px #212121;
  background-color: #2f3c3d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: #fff;
  margin-left: -850px;
}
.container-right-contra h1 {
  font-size: 40px;
  font-weight: lighter;
}
.container-right-contra p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.container-right-contra a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.container-right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.container-right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.container-right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

@media only screen and (max-width: 768px){
  .container-info {
    flex-direction: column;
    width: 100%;
    margin: 20px;
  }
  .container-left {
    width: 100%;
    height: 400px;
  }
  .container-right {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
}

/* ---------------------------FOOTER--------------------------------------------------------- */
footer {
  width: 100%;
  padding: 50px 0;
  background-image: url(../images/background-footer.svg);
  background-size: cover;
}
.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box__footer .footer__logo img {
  width: 180px;
}
.box__footer .terms {
  max-width: 500px;
  margin-top: 20px;
  font-weight: 500px;
  color: #7a7a7a;
}
.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}
.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
}
.box__footer a:hover {
  opacity: 0.5;
}
.box__footer a .fab {
  font-size: 20px;
}
.box__copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 40px;
}
.box__copy p {
  margin-top: 20px;
  color: #7a7a7a;
}